@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

@layer components {
  .flex-center {
    @apply flex flex-col items-center justify-center;
  }

  .bg-banner {
    background-image: url(/src/assets/imgs/banner.png);
  }
}
